---
/**
 * AuditTerminal Wrapper
 * Astro component that renders the React AuditTerminal client-side
 */
import AuditTerminal from '@components/react/AuditTerminal';
---

<div class="audit-terminal-wrapper">
  <AuditTerminal client:load />
</div>
